@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: 255, 141, 203;
    --accent-text-color: #353430;
    --header-title-color: #ffc2e6;
    --main-title-color: 53, 52, 48;
    --visibility: hidden;
    --main-font: "IBM Plex mono";
    --bg-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: 255, 141, 203;
  --accent-text-color: #353430;
  --header-title-color: #ffc2e6;
  --main-title-color: 53, 52, 48;
  --visibility: hidden;
  --main-font: "IBM Plex mono";
  --bg-image: url(../images/cover-image-light.png);
}
